@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0d253d;
    --card: #ffffff;
    --card-foreground: #0d253d;
    --popover: #ffffff;
    --popover-foreground: #0d253d;
    --primary: #533afd;
    --primary-foreground: #ffffff;
    --secondary: #f6f9fc;
    --secondary-foreground: #0d253d;
    --muted: #f6f9fc;
    --muted-foreground: #64748d;
    --accent: #f6f9fc;
    --accent-foreground: #0d253d;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #e3e8ee;
    --input: #a8c3de;
    --ring: #533afd;
    --chart-1: #533afd;
    --chart-2: #0d253d;
    --chart-3: #ea2261;
    --chart-4: #f96bee;
    --chart-5: #9b6829;
    --radius: 0.75rem;
  }
  .dark {
    --background: #0d253d;
    --foreground: #ffffff;
    --card: #0d253d;
    --card-foreground: #ffffff;
    --popover: #0d253d;
    --popover-foreground: #ffffff;
    --primary: #533afd;
    --primary-foreground: #ffffff;
    --secondary: #1c1e54;
    --secondary-foreground: #ffffff;
    --muted: #1c1e54;
    --muted-foreground: #cbd5f5;
    --accent: #1c1e54;
    --accent-foreground: #ffffff;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #1c1e54;
    --input: #1c1e54;
    --ring: #533afd;
    --chart-1: #533afd;
    --chart-2: #c9c4ff;
    --chart-3: #ea2261;
    --chart-4: #f96bee;
    --chart-5: #9b6829;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-weight: 300;
  }
}
